{% extends "ytAnalytic/base.html" %}

{% block content %}
<img src="../static/ytAnalytic/yt.png" class="logo-pad" alt="ytAnalytic Logo">
    <blockquote class="blockquote text-center ml-5 mt-5">
        <article class="about">
            ytAnalytic is a capstone project by Kyle
            West. This web app is for sorting and creating data 
            visualizations for Youtube videos and channels. The app is created with the Django 
            framework and the charts are created with Plotly.  
        </article>
    </blockquote>
{% endblock content %}