{% extends "ytAnalytic/base.html" %}

{% block content %}
<h1 class="channel-heading">{{ channel_title }}</h1>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {% include "ytAnalytic/tag_filter.html" %}
        {% include "ytAnalytic/duration_filter.html" %}
        <button type="Submit" name="Submit_tag" value="Submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
<div class="container container-fluid content-section">
    {% include "ytAnalytic/vid_grid.html" %}
    <figure class="figure mt-5 embed-responsive text-center">
        {% if dur_chart %}
        {{ dur_chart|safe }}
        {% else %}
        <p>No graph was provided.</p>
        {% endif %}
    </figure>
    <br>
    <figure class="figure mt-5 embed-responsive text-center">
        {% if view_chart %}
        {{ view_chart|safe }}
        {% else %}
        <p>No graph was provided.</p>
        {% endif %}
    </figure>
    <br>
    <img src="../../static/ytAnalytic/wordcloud.png" class="img-fluid thumb" alt="Responsive image"></img>
</div>
{% endblock content %}