{% extends "ytAnalytic/base.html" %}

{% block content %}
    <h1 class="channel-heading">Search for: {{ searched_url }}</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% include "ytAnalytic/tag_filter.html" %}
        <button type="Submit" name="Submit_tag" value="Submit" class="btn btn-secondary">Submit</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        <div class="container container-fluid content-section" >
            {% for vid in vid_list %}
                {% if forloop.first %}<div class="row">{% endif %}
                        <div class="text-center col-lg-4">
                            <div class="embed-responsive">
                                <div class="classWithPad">
                                    <img src="{{ vid.thumbnail }}" class="img-fluid thumb" alt="Responsive image">
                                    <!-- <input type="radio" id="{{ vid.id }}" name="{{ vid.title }}" value="{{ vid.title }}"> -->
                                    <input type="radio" name="select"
                                        value='{% if submitbutton_vid == "Submit" %} 
                                        {{ vid.id }} 
                                        {% endif %}'>
                                    <label for="select" class="align-text-bottom">{{ vid.title }}</label>
                                </div>
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
            {% endfor %}
            <button type="Submit" name="Submit_vid" value="Submit" class="btn btn-secondary">Submit</button>
            <img src="../static/ytAnalytic/wordcloud.png" class="img-fluid thumb" alt="Responsive image"></img>
        </div>
    </form>
    <!-- </form> -->
{% endblock content %}