{% extends "ytAnalytic/base.html" %}

{% block content %}
    <h1 class="channel-heading">Search for: {{ searched_url }}</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {% include "ytAnalytic/tag_filter.html" %}
            {% include "ytAnalytic/duration_filter.html" %}
            <button type="Submit" name="Submit_tag" value="Submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="container container-fluid content-section" >
            <br>
            <h2 class="text-left">Channels:</h2>
            <br>
            {% for channel in channel_list %}
            <article class = "container container-fluid channel-section text-left">
                <img src="{{ channel.thumbnail }}" class="img-fluid mr-2 float-left" alt="Responsive image">
                <br>
                <br>
                <a href="{% url 'ytAnalytic-channel' channel.uploads channel.channelTitle %}"><h4 >{{ channel.channelTitle }}</h4></a>
                <p>Subscribers: {{ channel.subCount }}</p>
                <p>Views: {{ channel.viewCount }}</p>
                <p>Videos: {{ channel.videoCount }}</p>
                <br>
                <br>
            </article>
            {% endfor %}
            <h2 class="text-left">Videos: </h2>
            {% include "ytAnalytic/vid_grid.html" %}
            <figure class="figure mt-5 embed-responsive text-center">
                {% if dur_chart %}
                {{ dur_chart|safe }}
                {% else %}
                <p>No graph was provided.</p>
                {% endif %}
            </figure>
            <br>
            <figure class="figure mt-5 embed-responsive text-center">
                {% if view_chart %}
                {{ view_chart|safe }}
                {% else %}
                <p>No graph was provided.</p>
                {% endif %}
            </figure>
            <br>
            <img src="../static/ytAnalytic/wordcloud.png" class="img-fluid thumb" alt="Responsive image"></img>
        </div>
    </form>
    <!-- </form> -->
{% endblock content %}