<label class="text-left" for="tag">Filter by tag:</label>
<select class="form-control form-control-sm" type="radio" name="tag">
        <option value='{% if submitbutton_tag == "Submit" %} 
                None
                {% endif %}'></option>
        {% for tag in tag_list %}
        <option value='{% if submitbutton_tag == "Submit" %} 
                {{ tag }} 
                {% endif %}'>{{tag}}</option>
        <!-- <label for="tag"> {{ tag }} </label> -->
        {% endfor %}
</select>


