{% for vid in vid_list %}
                {% if forloop.first %}<div class="row">{% endif %}
                        <div class="text-center col-lg-4">
                            <div class="embed-responsive">
                                <div class="classWithPad">
                                    <img src="{{ vid.thumbnail }}" class="img-fluid thumb" alt="Responsive image">
                                    <a href="{% url 'ytAnalytic-video' %}" class="align-text-bottom">{{ vid.title }}</a>
                                    <!-- <input type="radio" name="select"
                                        value='{% if submitbutton_vid == "Submit" %} 
                                        {{ vid.id }} 
                                        {% endif %}'>
                                    <label for="select" class="align-text-bottom">{{ vid.title }}</label> -->

                                </div>
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
{% endfor %}