{% extends "ytAnalytic/base.html" %}

{% block content %}
    <h3 class="text-left video-title">Video Title</h3>  
    <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/jl84QblsNP8"
                    allowfullscreen>
            </iframe>
    </div>
    <br>
    <h3>Analytics</h3>
    <figure class="figure mt-5 embed-responsive text-center">
        {% if like_dislike %}
        {{ like_dislike|safe }}
        {% else %}
        <p>No graph was provided.</p>
        {% endif %}
    </figure>
    <figure class="figure mt-5 embed-responsive text-center">
        {% if view_comment %}
        {{ view_comment|safe }}
        {% else %}
        <p>No graph was provided.</p>
        {% endif %}
    </figure>
    <h5 class="text-left ml-4">Tags</h5>
    <p class="tags">
        {% for tag in tags %}
        {{ tag }},
        {%endfor%}
    </p>
{% endblock content %}